<style>
  body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    color: #a8abba;
  }

  .container {
    display: flex;
    justify-content: center;
    align-items: center; 
    height: auto;
    margin: auto;
    border-radius: 5px;
    background-color: #fff;
    max-width: 750px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: absolute;
    padding-bottom: 20px !important;
    margin-top: 30px !important;
  }

  .right-panel {
    flex: 1;
    border-radius: 5px 0 0 5px;
    overflow: hidden;
  }

  .right-panel img {
    width: 100%; 
    height: auto; 
  }

  .left-panel {
    flex: 1;
    background-color: #fff;
    border-radius: 0 5px 5px 0;
  }

  h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #707683;
  }

  .field {
    margin-bottom: 10px;
  }

  label {
    display: block;
    font-weight: bold;
  }

  input[type="text"],
  input[type="email"],
  input[type="date"],
  input[type="password"] {
    width: 90%;
    padding: 7px;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #243656;
  }

  .actions {
    text-align: center;
    margin-top: 10px;
  }

  .actions input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .actions input[type="submit"]:hover {
    background-color: #0056b3;
  }

  @media (max-width: 768px) {
    .container {
      flex-direction: column;
    }

    .left-panel,
    .right-panel {
      border-radius: 5px;
      margin-bottom: 20px;
    }
  
    .right-panel {
      border-radius: 5px 5px 0 0;
    }
  
    .left-panel {
      border-radius: 0 0 5px 5px;
    }
  }
</style>
<div class="container">
  <div class="left-panel">
    <h2>Edit <%= resource_name.to_s.humanize %></h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.label :email %>
        <div><%= current_user.email%> </div>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="field">
        <%= f.label :avatar, "Image:" %>
        <%= f.file_field :avatar, accept: 'image/*', id: 'avatar-input' %>
      </div>

      <div class="field">
        <%= f.label :name %>
        <%= f.text_field :name %>
      </div>
      <div class="field">
        <%= f.label :dob, "Date of Birth:" %>
        <%= f.date_field :dob %>
      </div>
      <div class="field">
        <%= f.label :address, "Address:" %>
        <%= f.text_field :address %>
      </div>
      <div class="field">
        <%= f.label :current_password, "Current Password:" %>
        <%= f.password_field :current_password, autocomplete: "current-password" %>
      </div>
      <div class="actions">
        <%= f.submit "Update" %>
      </div>
    <% end %>

    <%= link_to "Back", :back %>
  </div>
  <div class="right-panel">
    <div class="image-preview">
        <div class="avatar">
          <%= image_tag(current_user.avatar.attached? ? current_user.avatar : '', id: 'avatar-preview') %>
        </div>
    </div>
  </div>
</div>
<script>
  document.addEventListener('DOMContentLoaded', function () {
    const avatarInput = document.getElementById('avatar-input');
    const avatarPreview = document.getElementById('avatar-preview');
    if (avatarInput && avatarPreview) {
      avatarInput.addEventListener('change', function () {
        const file = avatarInput.files[0];
        if (file) {
          const reader = new FileReader();
          reader.onload = function (e) {
            avatarPreview.src = e.target.result;
          };
          reader.readAsDataURL(file);
        }
      });
    }
  });
</script>


